<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrumReplacer (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DrumReplacer (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DrumReplacer (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DrumReplacer (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>432EE03BEF2DCD077229C604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5645C0BEE3A2A3FFAF8D209D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85338619FDA21B0E5153CA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA476921162734C22E77BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
